<!DOCTYPE html>
<html>
<head>
    <title>Article</title>
</head>
<body>
    <div class="posts">
        {% for post in posts %}
        <section class="post">
            <header class="post-header">
                <h2>{{ post.title }}</h2>

                <p>
                    Time: <a href="#">{{ post.date }}</a> Category: <a href="{% url 'showCat' id=post.category.id %}">{{ post.category }}</a>
                </p>
                <p>
                    Tags: <a href="#">
                            {% for tag in post.tags.all %}
                                {{ tag.name }}
                            {% endfor %}
                          </a>
                </p>
            </header>

            <div class="post-description">
                <p>
                    {{ post.content }}
                </p>
            </div>
                <a href="{% url 'editArticle' title=post.title %}">
                    <button>
                        Edit
                    </button>
                </a>
        </section>
        {% endfor %}
    </div>
    <br/>
    <div class="add_article">
        <a href="{% url 'addArticle' %}"></a>
            <button>
                New Article
            </button>
        </a>
    </div>
</body>
</html>